{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Consumo energético para <span class="text-primary">{{ dispositivo }}</span></h2>

    <div class="row">
        <div class="col-md-3">
            <!-- Datos generales -->
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <img src="{{ request.user.get_gravatar_url }}" class="rounded-circle mb-2 border shadow" alt="Avatar de usuario" width="80" height="80">
                    <p class="fw-bold mb-0">{{ usuario.nombre }}</p>
                    <small class="text-muted">Usuario</small>
                </div>
            </div>

            <div class="card shadow-sm mt-5">
                <div class="card-header fw-bold">Resumen</div>
                <div class="card-body">
                    <p>Total consumo: <span class="fw-semibold">{{ total_consumo }} kWh</span></p>
                    <p>Número de registros: <span class="fw-semibold">{{ registros_count }}</span></p>
                    <p>Máximo esperado: <span class="fw-semibold">{{ maximo }}</span></p>
                    <p>Mínimo esperado: <span class="fw-semibold">{{ minimo }}</span></p>
                </div>
            </div>

            <!-- Distribución por dispositivo -->
            <div class="card shadow-sm mt-5">
                <div class="card-header fw-bold">Distribución por Dispositivo</div>
                <div class="card-body">
                    <canvas id="pieChart" height="300"></canvas>
                </div>
            </div>
        </div>

            <!-- Gráfico de consumo -->
        <div class="col-md-9">
            <div class="card shadow-sm mb-4">
                <div class="card-header fw-bold">Gráfico de Consumo Eléctrico</div>
                <div class="card-body">
                    <canvas id="consumoChart" height="200"></canvas>
                </div>
            </div>
       

            <!-- Matriz de Calor -->
            {% if heatmap_image %}
            <div class="card shadow-sm mb-4">
                <div class="card-header fw-bold">Matriz de Calor de Consumo</div>
                <div class="card-body text-center">
                    <img src="data:image/png;base64,{{ heatmap_image }}" alt="Matriz de Calor" class="img-fluid rounded">
                </div>
            </div>
            {% endif %}

            <!-- Gráfico de Líneas Múltiples -->
            {% if lineas_multiples_image %}
            <div class="card shadow-sm mb-4">
                <div class="card-header fw-bold">Gráfico de Líneas Múltiples</div>
                <div class="card-body text-center">
                    <img src="data:image/png;base64,{{ lineas_multiples_image }}" alt="Gráfico de Líneas Múltiples" class="img-fluid rounded">
                </div>
            </div>
            {% endif %}
        </div>
       
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const fechasHoras = JSON.parse('{{ fechas_horas|escapejs }}');
    const consumos = JSON.parse('{{ consumos|escapejs }}');
    const dispositivo = '{{ dispositivo|escapejs }}';
    const registroId = '{{ registro_id|escapejs }}';
    const maximo = {{ maximo|escapejs }}; // Asegúrate de que 'maximo' contenga el valor numérico
    const minimo = {{ minimo|escapejs }}; // Asegúrate de que 'minimo' contenga el valor numérico

    const ctx = document.getElementById('consumoChart').getContext('2d');
    const consumoChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: fechasHoras,
            datasets: [{
                label: `Consumo eléctrico ${dispositivo}`,
                data: consumos,
                fill: false,
                borderColor: 'rgb(192, 75, 75)',
                tension: 0.1
            },
            {
                label: `Máximo (${maximo} kWh)`,
                data: Array(fechasHoras.length).fill(maximo), // Crea un array lleno del valor máximo
                fill: false,
                borderColor: 'rgb(54, 162, 235)',
                borderDash: [5, 5], // Línea punteada para diferenciar
                pointRadius: 0, // Oculta los puntos
                tension: 0
            },
            {
                label: `Mínimo (${minimo} kWh)`,
                data: Array(fechasHoras.length).fill(minimo), // Crea un array lleno del valor mínimo
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                borderDash: [5, 5], // Línea punteada para diferenciar
                pointRadius: 0, // Oculta los puntos
                tension: 0
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Consumo eléctrico (kWh)'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Fecha y Hora'
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10 // Adjust as needed
                    },
                    adapters: {
                        date: {
                            format: 'YYYY-MM-DD HH:mm'
                        }
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        title: function(tooltipItems) {
                            return tooltipItems[0].label;
                        },
                        label: function(context) {
                            let label = context.dataset.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += new Intl.NumberFormat('en-US', { style: 'decimal' }).format(context.parsed.y);
                            }
                            return label + ' kWh';
                        }
                    }
                }
            }
        }
    });


     const pieLabels = JSON.parse('{{ pie_chart_labels|escapejs }}');
    const pieData = JSON.parse('{{ pie_chart_data|escapejs }}');

    const pieCtx = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: pieLabels,
            datasets: [{
                label: 'Distribución de dispositivos',
                data: pieData,
                backgroundColor: [
                    '#FF6384', '#36A2EB', '#FFCE56', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c45850'
                ],
                hoverOffset: 10
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom'
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const label = context.label || '';
                            const value = context.parsed || 0;
                            return `${label}: ${value} registros`;
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}